/*General*/
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

#site-header,
#site-footer {
    padding: 10px;
}

ul,
ol,
dl {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    line-height: 1.6em;
}

.nav-left {
    margin-right: 200px;
}

.test {
    color: red;
}

/*Header*/
#site-header {
    border-bottom: 3px solid #8CBA80;   
}

#site-header nav {
    text-align: center;
}

#site-header ul {
    /* text-align: center; */
    display: inline-block;
}

#site-header li {
    display: inline-block;
    padding: 10px;
    margin: 0 30px;
}   

#site-header li:hover {
    cursor: pointer;
}


/*Main*/
#site-main {
    margin: 70px 0;
    /* background-color: yellow; */
}

#landing-img {
    background-color: #4D5382;
    width: 70%;
    max-width: 70%;
    min-height: 400px;
    border-radius: 10px;
    margin: 0 auto; 
    margin-top: 10px;
}

#home-preview {
    text-align: center;
}

.list-preview {
    margin: 10px 50px;
    display: inline-block;
}

.list-preview h3 {

}

.list-preview article {
    border: 3px solid #658E9C;    
    border-radius: 10px;
    width: 600px;
    max-width: 600px;       
}

.list-preview ul {
    text-align: initial;
    padding: 10px;
    margin: 10px;
    margin-left: 100px;
}

#bpostprev li,
#cwpostprev li {
    margin-top: 10px;
    margin-bottom: 30px;
}

#bpostprev li h3:hover,
#cwpostprev li h3:hover {
    cursor: pointer;
}

#blogPage {
    /* border: 2px solid grey; */
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
}

#blogPage li {
    border-bottom: 3px solid #658E9C;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

#blogPage li h2:hover {
    cursor: pointer;
}

.list-preview li {

}

#links {
    text-align: center;    
}

#links a {
    color: lightblue;
}

#links div {
    margin: 0 auto;
    background-color: #F0F0F2;
    border-radius: 5px;
    width: 40%;
    max-width: 40%;
    border-radius: 2px;
    padding: 20px 10px;
}

#links h3 {
    padding: 20px;
}

#links h4 {
    margin: 5px;
}

#links ul {

}

#links li {

}



#about {

}

#about div {
    margin: 0 auto;
    background-color: #F0F0F2;
    border-radius: 5px;
    width: 50%;
    max-width: 50%;
    border-radius: 2px;
    padding: 20px 10px;
}

#about h3 {
    padding: 20px;   
    text-align: center; 
}

#about p {
    line-height: 2.5em;
}

#contact {
    margin: 0 auto;
    width: 40%;
    max-width: 40%;
}

#contact h3 {
    text-align: center;
    padding: 100px;
    background-color: #F0F0F2;
}
/*Footer*/
#site-footer {
    font-size: .9em;
    border-top: 3px solid #8CBA80;
}

#site-footer nav {
    text-align: center;
}

#site-footer ul {
    /* text-align: center; */
    display: inline-block;
}

#site-footer li {
    display: inline-block;
    padding: 10px;
    margin: 0 30px;
}   

#site-footer li:hover {
    cursor: pointer;
}

#site-footer p {
    display: inline-block;
}



/*Media Query's*/



/*Misc*/
